body {
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../images/architectural-design-architecture-buildings-1049302.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height:100vh;
}

#signin-container {
	background-color: rgba(245, 245, 245, 0.4);
	padding: 40px;
}

#form-col {
	padding-top: 5px;
}